.insidediv{
    position: absolute;
    border:1px solid #859d9c;
    width: 20px;
    height: 20px;
    background-color: white;
    z-index: 5;

}

.insidediv:hover{
    animation: test 0.05s;
    transform: translate(-3px, -3px);
    width: 26px;
    height: 26px;
    z-index: 10;

}


body{
    background-color: black;
}


.btn-shape{
    position: relative;
    width: 53px;
    height: 53px;
}

#btn-square{
    background: url(./square.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}


#btn-cross{
    background: url(./cross.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

#btn-idk{
    background: url(./idk.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

#btn-stick{
    background: url(./stick.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

#btn-glider{
    background: url(./glider.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

#btn-pause{
    position: relative;
    left:50%;
    width: 53px;
    height: 53px;
    
}
#btn-forward{
    position: relative;
    left:50%;
    width: 53px;
    height: 53px;
    background: url(./forward.png);
    
}

.btn-paused{
    background: url(./pause.png);
}
    
.btn-play{
    background: url(./play.png);
}
    